* {
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
    font-family: "netflex";
}

@font-face {
    font-family: "netflex";
    src: url(./NetflixSans-Regular.otf);
    font-weight: 900;
  font-size: normal;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: fit-content;
}

.principal{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.titulo{
    /* width: 495px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center; */
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 495px;
    height: 62px;
    font-weight: 900;
    font-size: 40px;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.perfis{
    width: 750px;
    height: 250px;
    display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    /* grid-template-rows: ; */
    justify-items: center;
    align-items: center;
    gap: 1.7rem;
}

.foto{
    width: 130px;
    height: 130px;
    cursor: pointer;
    display: flex;
    flex-direction: column;   
    align-items: center; 
    border-radius: 4px;
}

.ish{
    border-radius: 4px;
}

.ish:hover{
    border: 1px solid white;
    transition: none;
}

.foto:hover{
    border:1px solid white;
}

.botao{
    width: 192px;
    height: 40px;
}

.button{
    width: 178px;
    height: 36px;
    color: gray;
    background-color: transparent;
    border: 1px solid gray;
    cursor: pointer;
}

.button:hover{
    border: 1px solid white;
}

.foto p{
    
    color: rgb(151, 149, 149);
    margin-top: 20px;
}

@media screen and (max-width: 1500px){
    body{
    width: 100%;
    }

    .perfis{
    width: 100%;

    }
}

@media screen and (max-width: 900px){
    body{
    width: 100%;
    }

    .perfis{
    width: 70%;
    grid-auto-columns: 70px;
    }
    
    
}

@media screen and (min-width: 1400px) {
    body{
        width: 100%;
        }
    
        .perfis{
        width: 100%;
    
        }
}
